#************************************************
# requirement libraries on web server
# -----
# 04/02/2016
#------------------------------------------------

google-ngram-downloader
ngram
lxml
NumPy==1.11.1
SciPy==0.18.0
scikit-learn==0.17.1
matplotlib==1.5.2
feedparser==5.2.1
